[safe]
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
	directory = /home/docs
